<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>PrjFinal</title>
<style>
div#user-bar {
	display: flex;
	align-items: baseline;
}

div#user-bar form {
	margin-left: 1em;
}
</style>
</head>
<body>
	<h2>EOL</h2>
	<a href="solicitacao">Cadastrar Solicitação</a>
	
	<br>
	
	<a href="solicitacao/painel">Painel</a>
	<br>
	
	<a href="solicitacao/usuarios">Cadastro de Usuarios</a>
</body>
</html>