<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>IF(pizza);</title>
</head>
<body>
	<h1>Login</h1>
      <div th:if="${param.error}">
        Senha ou nome de usuário inválido.
      </div>
      
      <div th:if="${param.logout}">
        Você saiu do sistema.
      </div>	
	
	<form th:action="@{/login}" method="post">
		<label>Usuário: </label>
		<input type="text" name="username" autofocus="autofocus"><br>
		
		<label>Senha: </label>
		<input type="password" name="password"><br>
		
		<input type="submit" value="Enviar">
	</form>
</body>
</html>