<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Cadastro de Usuario</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div class="header" style="padding-left: 50px;">
		<h1>EOL</h1>
	</div>

	<div class="container" style="padding: 20px;">
		<form method="POST" th:action="@{/usuario}" th:object="${usuario}">
			<div class="row align-items-center">
				<div class="col-md6" style="padding: 50px;">
					<div class="row">
						<div class="form-group">
							<div class="col">
								<label>Tipo de Usuário:</label>
								<div class="custom-control custom-radio" style="padding-left: 40px;">
									<input type="radio" class="custom-control-input" id="cliente" name="tipo"
										value="CLIENTE" th:field="*{tipoHolder}">
									<label class="custom-control-label" for="cliente">Cliente</label>
								</div>
								<div class="custom-control custom-radio" style="padding-left: 40px;">
									<input type="radio" class="custom-control-input" id="instalador" name="tipo"
										value="INSTALADOR" th:field="*{tipoHolder}">
									<label class="custom-control-label" for="instalador">Instalador</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md6" style="padding: 50px;">
					<div class="row">
						<div class="form-group">
							<div class="col-md12"
								style="padding: 40px; background-color: cornflowerblue; border-radius: 10px;">

								<h2>Novo usuário</h2>
								<label for="nome">Nome: </label>
								<input type="text" name="nome" id="nome" required th:field="*{nome}"
									class="form-control">

								<label for="email" style="padding-top: 10px;">E-mail:</label>
								<input type="email" name="email" id="email" required th:field="*{email}"
									class="form-control">

								<label for="username" style="padding-top: 10px;">Usuário:</label>
								<input type="text" name="username" id="username" required th:field="*{username}"
									class="form-control">

								<label for="password" style="padding-top: 10px;">Senha:</label>
								<input type="password" name="password" id="password" required th:field="*{password}"
									class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="padding: 20px;">
				<div class="col align-self-start">
					<button class="btn btn-secondary">Voltar</button>
				</div>
				<div class="col align-self-end">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
				</div>
			</div>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>